/* .add{
    background-color: rgb(209, 215, 214);
}
.addtwo{
    background-color: aqua;
    margin: 20px 30px;
   
    border-radius: 39px;
} */
 .card{
    color: rgb(10, 10, 62);
    border: 1px solid rgb(58, 9, 96);
 }